body {
  background-color: #DDD;
  font-family: 'Roboto', sans-serif;
}

/* Center calendar vertically and horizontally */
section {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.calendar {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
}

.calendar-header {
  background-color: #888;
  color: #FFF;
  padding: 10px;
}

/* Vertically center calendar arrows */
.calendar-arrow {
  position: relative;
  bottom: 2px;
}

.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
}

.calendar-content {
  background-color: #FFF;
}

th {
  /* Override font weight from user agent */
  font-weight: initial;
}
